.top-artists-widget {
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 200px;
    width: 100%;
}

.artists {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.artist {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding-right: 10px;
}

.artist-info {
    display: flex;
    flex-direction: column;
}

.artist-score {
    display: flex;
    height: fit-content;
    width: fit-content;
    color: var(--text-color);
    font-size: 1.5rem;
}

.artist-image {
    display: flex;
    height: 100px;
    width: fit-content;
    padding: 10px;
}

.artist-image img {
    display: flex;
    height: 110px;
    width: fit-content;
    border-radius: 100px;
    background-color: var(--background-secondary);
    border: 2px solid var(--background-secondary);
}

.artist-name {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    padding-top: 10px;
    align-items: center;
    justify-content: flex-start;
    font-weight: 400;
}

@media(min-width: 200px) and (max-width: 750px) {

    .top-artists-widget {
        display: flex;
        justify-content: flex-start;
        height: fit-content;

    }

    .artist-image {
        padding: 0px;
    }

    .artists {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 10px;
        height: fit-content;
        justify-content: center;
    }

    .artist-image{
        height: fit-cotnent;
    }

    .artist-image img{
        height: 150px;
    }


    .artist {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
    }

    .artists>.artist-info-skeleton:not(.artist) {
        display: contents;
    }

    .artist-name {
        font-size: 1.3rem;
    }

}