.top-artists-widget {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}

.artists {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.artist {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding-right: 10px;
}

.artist-info {
    display: flex;
    flex-direction: column;
}

.artist-score {
    display: flex;
    height: fit-content;
    width: fit-content;
    color: var(--text-color);
    font-size: 1.5rem;
}

.artist-image {
    display: flex;
    height: 100px;
    width: fit-content;
    padding: 10px;
}

.artist-image img {
    display: flex;
    height: 110px;
    width: fit-content;
    border-radius: 100px;
    border: 2px solid var(--background-secondary);
}

.artist-name {
    display: flex;
    font-size: 1.5rem;
    padding-top: 20px;
    align-items: center;
    justify-content: flex-start;
}