@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..700&display=swap');

.page-title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 250px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);

}

.main-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.5rem;
    font-weight: 550;
    color: var(--text-color);
}

.page-title2 {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    color: var(--text-color);
}

#highlight {
    color: var(--main-highlight);
}

.page-sub-title {

    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: var(--text-color);
}

.page-sub-title span {
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 10px;
    margin-right: 10px;
    background-color: var(--background-secondary);
    border-radius: 20px;
    color: var(--text-color);

}

.page-description {
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: var(--text-color);
    text-align: center;
}

.page-screenshots {

    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);

}

.page-card {
    display: flex;
    background-color: var(--background-secondary);
    height: 250px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.sign-in-button {
    display: flex;
    height: fit-content;
    width: fit-content;
    border-radius: 40px !important;
    margin: 10px;
}

.sign-in-button span {
    font-weight: 400;
    font-family: 'Figtree', sans-serif;

}

@media (min-width: 300px) and (max-width: 1000px) {

    .main-title {
        font-size: 4.0rem;
        height: fit-content;
    }

    .page-sub-title {
        font-size: 1.0rem;
        height: fit-content;
        flex-direction: column;
    }

    .page-sub-title span {
        margin-top: 20px;
    }

    .page-screenshots {

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        row-gap: 20px;
        height: fit-content;
    }

    .page-description {
        height: fit-content;
        margin-top: 10px;
    }

    .page-description,
    .page-buttons span {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    .page-title2{
        margin: 0 auto;
        font-size: 1.3rem;
    }
    
    .page-title{
        font-size:2.0rem;
    }


}