.top-songs {

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    background-color: var(--background-secondary);
    border-radius: 8px;

}

.song-art-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 10px;

}

.song-art {

    width: 250px;
    height: 250px;
    border: 2px solid var(--background);
    margin: 0 auto;
}