.top-songs {

    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    border-radius: 8px;
    justify-content: center;
}

.top-songs span {
    font-size: 1.6rem;
    padding: 10px;
    color: var(--text-color);
}

.song-art-grid {
    display: grid;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    gap: 25px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.song-art {
    display: flex;
    width: 100%;
    height: 160px;
    width: 160px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-secondary);
    border-radius: 10px;
    transition: transform 0.18s ease;
}

.song-art:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.song-art svg {
    color: var(--main-highlight);
    font-size: 4rem;
}


@media (min-width: 750px) and (max-width: 1000px) {

    .song-art-grid {
        display: grid;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .top-songs span {
        text-align: center;
    }
}

@media (min-width: 300px) and (max-width: 750px) {

    .song-art-grid {
        display: grid;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        height: fit-content;
        padding: 10px;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .top-songs{
        height: fit-content;
    }

    .top-songs span {
        text-align: center;
    }

}