@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..700&display=swap');


#root {
  width: 100%;
  min-height: fit-content;
  height: auto;
  margin: 0 auto;
  background-color: var(--background);
  overflow-x: hidden;
  overflow-y: hidden;

  scroll-behavior: smooth;

}

html,
body {
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-family: 'Figtree', sans-serif;
  color: whitesmoke;
  height: auto;
  overflow: visible;
}

[data-mantine-color-scheme="dark"] {

  --background: #0A0A0A;
  --background-secondary: #141414;
  --text-color: whitesmoke;
  --main-highlight: #1DB954;
}

[data-mantine-color-scheme="light"] {
  --background: #e7dbd1;
  --background-secondary: #fcf5ef;
  --text-color: #111;
  --main-highlight: #1DB954;
}


.early-dev-banner {
  display: inline-flex;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 0 auto;
  background-color: var(--background-secondary);
  border-radius: 8px;
  font-size: 1.0rem;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
}

.early-dev-banner svg {
  margin-right: 40px;
  font-size: 1.2rem;
}

.early-dev-banner a {
  padding-left: 10px;
}

.early-dev-banner:hover {
  transform: translateY(-5px);
  transition: 0.3s ease-in;
  cursor: pointer;

  color: var(--main-highlight);
}

.Navigation-container {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  position: fixed;
  top: 0;
  margin: 0 auto;
  background-color: var(--background-secondary);
}

.Navigation {

  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: 400;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
}

.nav-button {

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.nav-button .accounts-button {
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: transparent;
  font-size: 30px;
}

.nav-button .theme-button {

  color: var(--text-color);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.nav-button:hover {
  cursor: pointer;
}

.nav-logo svg {
  margin-right: 20px;
}

.Main {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  height: auto;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  padding-top: 80px;
}

.Signup,
.Login {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  min-height: 80vh;
  margin: 0 auto;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}


.Dashboard {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 8px;
}

.dashboard-component {
  background-color: var(--background-secondary);
  height: fit-content;
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  color: var(--text-color);
  font-size: 1.2rem;
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  padding: 10px;
}

.component-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
}


.Dashboard>.dashboard-component:nth-child(0) {
  display: flex;
  width: 100%;

}

.Dashboard>.dashboard-component:nth-child(1) {
  grid-column: span 1;
}

.Dashboard>.dashboard-component:nth-child(2) {
  grid-column: span 1;
}

.Dashboard>.dashboard-component:nth-child(2):hover {
  transform: translateY(-0.0rem);
}

.component2 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.Dashboard>.dashboard-component:nth-child(3) {
  grid-column: span 2;
}

.Dashboard>.dashboard-component:nth-child(2) {
  grid-column: span 2;
}

.welcome-message {
  display: flex;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1.5rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 60px;
  margin: 0 auto;
  font-size: 16px;
}

.footer-item {
  display: flex;
  width: fit-content;
  padding: 10px;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.social svg {
  color: var(--main-highlight);
}

.social {
  display: inline-flex;
  vertical-align: middle;
  margin: 10px;
  font-size: 1.4rem;
}

.social:hover {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.Profile {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: 0 auto;
  height: fit-content;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 12px;
  padding-left: 20px;

  margin-top: 20px;
}

.profile-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: var(--text-color);
}

.profile-mid {
  display: flex;
  margin-left: 0px;
  height: fit-content;
  border-radius: 8px;
  color: var(--text-color);
  font-weight: 350;
}

.profile-name {
  display: flex;
  flex-direction: row;
  font-size: 2.5rem;
  justify-content: flex-start;
}

.profile-img {
  display: flex;
  height: fit-content;
  width: 200px;
  align-items: flex-end;
  justify-content: center;
  padding: 30px;
  background-color: var(--main-highlight);
  border-radius: 200px;
}

.profile-img img {
  height: auto;
  width: 100px;
}

.profile-stats {
  display: flex;
  font-size: 1.5rem;
  width: fit-content;
  flex-direction: row;
}

.user-desc {
  font-size: 1.3rem;
  display: flex;
}

.user-small-stats {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
  padding: 5px 0;
}

.user-small-stats span {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.user-small-stats svg {
  font-size: 25px;
  color: var(--main-highlight);
  margin-right: 0.25rem;
  vertical-align: middle;
}

#stat-number {
  font-size: 2.3rem;
  color: var(--main-highlight);
  padding-right: 8px;
}

#stat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-right: 10px;
  padding-bottom: 5px;
  color: var(--text-color);
}

.trophies-title {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
  color: var(--text-color);
}

.trophies-title svg {
  margin-right: 10px;
  font-size: 25px;
  color: var(--main-highlight);
}

.login-backing,
.signup-backing {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 25%;
  min-width: fit-content;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
  margin: 20px;
  background: var(--background-secondary);
  color: var(--text-color);
  border-radius: 15px;
}

.signup-title {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  font-size: 1.3rem;
}

.signup-desc {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-size: 1.0rem;
  text-align: center;
}

.signup-blurb {
  display: flex;
  font-size: 1.0rem;
  color: #a1a1a1;
  padding-bottom: 10px;
  padding-top: 10px;
}

#username,
#password,
#idk {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.signup-title svg {
  display: flex;
  margin-right: 10px;
}

#Signup-button,
#Login-button {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.0rem;
}

.login-footer a {
  padding-left: 10px;
}

.login-footer a:hover {

  text-decoration: underline;
}

.login-footer {

  display: flex;
  font-size: 1.0rem;
  color: #a1a1a1;
  width: 100%;
}


@media (min-width:300px) and (max-width: 1000px) {

  #nav-title-more {
    display: block;
  }

  .login-backing,
  .signup-backing {
    width: fit-content;
  }

  .Dashboard {

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .Dashboard>.dashboard-component:nth-child(1) {
    grid-column: span 1;
  }

  .Dashboard>.dashboard-component:nth-child(2) {
    grid-column: span 1;
  }

  .Dashboard>.dashboard-component:nth-child(3) {
    grid-column: span 1;

  }

  .Dashboard>.dashboard-component:nth-child(2) {
    grid-column: span 1;
  }
}

@media (min-width: 200px) and (max-width: 750px) {


  .App {
    height: fit-content;
  }

  .Navigation-container {
    width: 100%;
    background-color: var(--background-secondary);
    height: fit-content;
  }

  .nav-logo {
    padding: 0px;
  }

  #nav-title-more {
    display: none;
  }

  .Navigation {
    width: 95%;
    height: fit-content;
  }

  .nav-logo {
    font-size: 1.3rem;
    width: 100%;
    padding: 10px;
  }

  .profile-top {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
  }

  .profile-info {
    padding-bottom: 10px;
  }

  .profile-img {
    display: none;
  }

  .profile-mid {
    width: 80%;
  }



  .accounts-button span {
    display: none;
  }

  .accounts-button svg,
  .accounts-button {
    padding: none;
    margin-right: 0px;
  }

  .profile-stats {
    display: flex;
    flex-direction: column;
  }

  #stat {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px;
  }

  .profile-name {
    display: flex;
    flex-direction: row;
    font-size: 1.8rem;
    padding-bottom: 10px;
  }

  .login-backing {
    width: 80%;
  }

  .signup-backing {
    width: 70%;
  }

  .early-dev-banner {
    display: flex;
    width: 90%;
  }

  .early-dev-banner span {
    font-size: 1.0rem;
  }

  .early-dev-banner svg{
    font-size: 2.5rem;
    margin: 10px;
  }
}